KAFKA__PORT=9092
KAFKA__PORT_1=9093
KAFKA__PORT_2=9094
KAFKA__PORT_3=9095
KAFKA__HOST=10.77.120.20
DOCKER_HOST_IP=10.77.120.20
KAFKA__USER='admin'
KAFKA__PASSW='secret'
KAFKA__TOPIC=wikipedia
KAFKA__NUM_REPLICAS=1
KAFKA__NUM_REPLICAS_CLUSTER=2
KAFKA__NUM_PARTITIONS=2
timezone=Europe/Moscow
TZ=Europe/Moscow


LOG__PATH_VOLUME=/var/app_logs
LOG__PATH=/usr/src/app/logs